<!DOCTYPE html>
<html>
<html lang="en-US">
 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="10" > -->
    <title>Demo</title>
  <style>
      .load {
        float: right;
        width: 300px;
        border: 1px solid black;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
      }
      .load th, .load td {
        padding: 6px;
       text-align: center;      }
    </style>


</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'Browser connected!'});
    });
</script>


<div>
<p id="timing">  </p>
 <script type="text/javascript">
      let d = new Date()
      let first = 11
      let second = 23
      document.getElementById("timing").innerHTML = "Today's date is " + d 

  </script>
</div>


<div>

<h1> Concept navigation interface </h1>
<p>
    <script>
    var UWBdata = JSON.parse('{{data| tojson | safe}}');
    var UWBtest = UWBdata;
    </script>

<!-- <p> test JSON : <span id="username"></span></p> 
    
    <script>
    var UWBdata = JSON.parse('{{data| tojson | safe}}');
    var UWBtest = UWBdata;
    var data2 = UWBtest[2]
    document.getElementById("username").innerHTML = data2.type + " " + data2.x + "  " + data2.y + " " + data2.z;
    </script>

-->


<canvas id="myCanvas" width="1024" height="1024">
Your browser does not support the canvas tag.
</canvas>


 <script src="static/js/floordraw.js" </script>
</div>


</body>
</html>  