/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.vscode

/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.pio
/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.vscode/.browse.c_cpp.db*
/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.vscode/c_cpp_properties.json
/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.vscode/launch.json
/IoT-Locatie-Bepaling-UWB-Tag/UWB Tag/.vscode/ipch

.fake
